{{ if .IsSigned }}
{{template "custom/rq_sidebar" .}}

{{if eq .Link .RepoLink}}
{{template "custom/rq_intro" .}}
{{end}}

{{if .Issue}}
{{if and .Issue.IsPull .HasMerged}}
{{template "custom/rq_next" .}}
{{end}}
{{end}}

{{ end }}
