{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard feeds">
    {{template "user/dashboard/navbar" .}}
    <div class="ui container flex-container">
        <div class="flex-container-main">
            {{template "base/alert" .}}
            <div id="greetings">
                <h1>
		    <img class="rq-logo" src="/assets/rq-logo.svg" />
		    RepoQuest
		</h1>
                <p>
		    Welcome to RepoQuest, a platform for interactive tutorials about software development.
		    To get started, upload a quest bundle on the right and click "Start quest".
		</p>
            </div>
            <div class="flex-container" id="quest-container">
                {{template "user/dashboard/current-quests" .}}

                {{template "user/dashboard/new-quest-form" .}}
            </div>
		</div>
	</div>
</div>
<style>
    #greetings {
        margin-bottom: 3rem;
    }

    #quest-container {
        justify-content: space-between;
        gap: 1rem;
    }
</style>
{{template "base/footer" .}}
