{{ if .IsSigned }}

<div>
    <h2>{{svg "octicon-upload" 24 "tw-text-placeholder-text"}} Start a New Quest</h2>
    <div class="ui">
        <form id="install-quest-form" class="ui form segment">
            <fieldset>
                <label>
                    Quest bundle (.tar.gz):
                    <input name="quest-bundle" type="file" accept=".tar.gz,.tgz" />
                </label>
            </fieldset>
            <input class="ui button primary" type="submit" value="Add quest" />
        </form>
    </div>
</div>

<script>
 async function submitInstallQuest(event) {
     event.preventDefault();
     event.submitter.disabled = true;
     const formData = new FormData(event.target);
     let response = await fetch("{{AppSubUrl}}/rq/quest_definition", {
         method: "POST",
         body: formData,
     });
     if (!response.ok) {
        throw new Error(`Error starting quest: ${response.status} ${response.body}`);
     }
     let json = await response.json();
     await submitStartQuest("{{.SignedUser.Name}}", json.id);
     event.submitter.disabled = false;     
     event.target.reset();
 }

 async function submitStartQuest(username, questTemplateId) {
     const data = { username, questTemplateId };
     let response = await fetch("{{AppSubUrl}}/rq/quest", {
         method: "POST",
         headers: { "Content-Type": "application/json" },
         body: JSON.stringify(data),
     });
    if (!response.ok) {
        throw new Error(`Error starting quest: ${response.status} ${response.body}`);
    }
    let json = await response.json();     
    if (json.task) {
        const issue = json.task.issue;
        window.location.href = `{{AppSubUrl}}/${issue.owner}/${issue.repo}/issues/${issue.number}`;
    } else {
        window.location.href = json.repo_url;
    }
 }

 // Register submit handler for adding quest definition
 const installQuestForm = document.getElementById("install-quest-form");
 installQuestForm.addEventListener("submit", submitInstallQuest);
</script>

{{ end }}
