{{ if .IsSigned }}
<a id="current-task-link" class="right item">Current Task</a>
<span id="solution-button-span"></span>

<script>
 fetch("{{AppSubUrl}}/repoquest/quest/{{.Repository.ID}}/chapter/current", {
     method: "GET",
     headers: { "Content-Type": "application/json" },
 }).then(function(response) {
     if (!response.ok) {
         throw new Error(`Error getting current quest chapter: ${response.status} ${response.body}`);
     }
     return response.json();
 }).then(function(response) {
     const currentTaskLink = document.getElementById("current-task-link");
     if (!response) {
         currentTaskLink.remove();
     } else {
         const issue = response.task.issue;
         currentTaskLink.href = `{{AppSubUrl}}/${issue.owner}/${issue.repo}/issues/${issue.number}`;
     }
 });


 function createSolution(event) {
     fetch("{{AppSubUrl}}/repoquest/quest/{{.Repository.ID}}/chapter/current/reference_solution", {
         method: "POST",
         headers: { "Content-Type": "application/json" },
     }).then(function(response) {
         if (!response.ok) {
             throw new Error(`Error starting quest: ${response.status} ${response.body}`);
         }
         return response.json();
     }).then(function(pr) {
         window.location.href = `{{AppSubUrl}}/${pr.owner}/${pr.repo}/pulls/${pr.number}`;
     });
 }

 fetch("{{AppSubUrl}}/repoquest/quest/{{.Repository.ID}}/chapter/current/reference_solution", {
     method: "GET",
     headers: { "Content-Type": "application/json" },
 }).then(function(response) {
     if (!response.ok) {
         throw new Error(`Error checking reference solution status: ${response.status} ${response.body}`);
     }
     return response.json();
 }).then(function(pr) {
     const solnButtonSpan = document.getElementById("solution-button-span");
     if (!pr) {
         const button = document.createElement("a");
         button.type = "button";
         button.classList.add("right");
         button.classList.add("button");
         button.classList.add("ui");
         button.addEventListener("click", createSolution);
         button.append("Add Solution PR");
         solnButtonSpan.append(button)
     } else {
         const link = document.createElement("a");
         link.href = `{{AppSubUrl}}/${pr.owner}/${pr.repo}/pulls/${pr.number}`;
         link.classList.add("right");
         link.classList.add("item");
         link.append("View Solution PR");
         solnButtonSpan.append(link)
     }
 });
 // <button class="right button ui">Add Solution</button>
</script>

{{ end }}
